.body{
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.backgroundImage img{
    position: absolute;
    max-height: 90%;
    max-width: 50%;
    right: 0;
    top: 0;
    z-index: 0;
}
.backgroundImage {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 0;

}

.filterBig {
    box-sizing: border-box;
    padding-top: 5rem;
    position: absolute;
    width: 30%;
    height: 90%;
}


@media only screen and (max-width: 800px){
    .filterBig{
        display: none;


    }
}