.rightPanel{
    width: 70%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    right: 0;

}

.filterMobile{
    width: 100%;
    display: none;
    margin-bottom: 2rem;

}
@media only screen and (max-width: 800px){
    .filterMobile{
        display: block;
    }
    .rightPanel{
        width: 100%;
    }
}